.contact {
  padding: 56px 0 51px 0;
  background-color: $black;
  color: white;
  &__form-box {
  }
}
.container {
}
.address-box {
  &__list {
  }

  &__item {
  }

  &__title {
  }

  &__text {
  }
}
.form-contact {
  &__list {
  }

  &__item {
  }

  &__label {
  }
}
