.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  &__testimonial {
    display: flex;
    justify-content: center;
  }
  &__contact {
    display: flex;
    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }
}
